.mainHelpCont{
  height: auto;
  min-height: 600px;

  .bottomContainer{
    margin-top: 50px;
    padding-bottom: 50px;

    .faqBox, .returnPolicyAction, .contactFormMain{

      h3{
        font-size: 2em;
      }
    }

    .contactFormMain{

      .content{
        padding: 0px;

        form{

          .form-row{
            padding: 0px;

            .form-group:first-child{
              padding-left: 0px;
            }

            .form-group:last-child{
              padding-right: 0px;
            }
          }
        }
      }
    }
  }
}