$mainBlack: #262624;

.website{
  padding-bottom: 100px;
  height: auto;
}

.mainProductBanner{
  width: 100%;

  background: white;

  padding-bottom: 20px;

  .innerProductBanner{
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 500px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .brand_image{
      float: none;
      margin: 0% auto;

      img{
        text-align: center;
        width: 100%;
      }
    }

    h3{
      color: #333;
      text-align: center;

      font-size: 3.5em;
      font-weight: bold;

      @media screen and (max-width: 500px) {
        font-size: 2.5em;
      }
    }

    h4{
      color: #333;
      text-align: center;

      font-size: 2em;
      font-weight: 300;

    }
  }
}

.bottomMain{
  background: white;

  //@media screen and (min-width: 500px) {
  //  height: 100%;
  //}

    .innerPart{
    border-top: 1px solid #eee;
    padding: 0px;

    @media screen and (max-width: 500px) {
      border-top: 0px;
    }

    background: white;

    .leftShipping{
      margin-top: 20px;

      border-right: 1px solid #eee;

      @media screen and (min-width: 500px) {
        padding-left: 35px;
      }

      @media screen and (max-width: 500px) {
        border-right: 0px;
      }

      .module{
        margin-bottom: 40px;

        h3{
          color: #333;

          font-size: 2em;
          font-weight: bold;
        }

        .innerMod{
          padding-top: 15px;

          .media{
            padding-bottom: 30px;
            padding-top: 15px;

            border-bottom: 1px solid #eee;

            .media-left{
              width: 100px;

              a{

                img{
                  width: 100px;
                  height: 100px;
                }
              }
            }

            .media-body{

              h4{
                font-weight: bold;
              }
            }
          }

          ul{
            padding-left: 0px;
            margin-left: 0px;

            li{
              color: #333;

              font-size: 1.3em;
              list-style: none;
            }
          }
        }
      }

      .media{
        padding-bottom: 30px;
        padding-top: 15px;

        border-bottom: 1px solid #eee;

        .media-left{
          width: 100px;

          a{

            img{
              width: 100px;
              height: 100px;
            }
          }
        }

        .media-body{

          h4{
            font-weight: bold;
          }
        }
      }

      .media:last-child{
        border-bottom: 0px;
      }
    }

    .orderInfoRight{
      margin-top: 20px;

      @media screen and (min-width: 500px) {
        padding-left: 35px;
      }

      @media screen and (max-width: 500px) {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        margin-bottom: 40px;
      }


      .module:last-child{
        margin-bottom: 0px;
      }

      .module{
        margin-bottom: 40px;

        h3{
          color: #333;

          font-size: 2em;
          font-weight: bold;
        }

        .innerMod{
          padding-top: 15px;

          .media{
            padding-bottom: 30px;
            padding-top: 15px;

            border-bottom: 1px solid #eee;

            .media-left{
              width: 100px;

              a{

                img{
                  width: 100px;
                  height: 100px;
                }
              }
            }

            .media-body{

              h4{
                font-weight: bold;
              }
            }
          }

          .media:last-child{
            border-bottom: 0px;
          }

          ul{
            padding-left: 0px;
            margin-left: 0px;

            li{
              color: #333;

              font-size: 1.3em;
              list-style: none;

              .special-price{
                color: #2ecc71;
              }
            }
          }
        }
      }

      .card{
        background: rgba(0,0,0,.03);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        padding: 15px;

        border-radius: 3px;

        .card-header{

          h4{
            font-weight: bold;
          }
        }

        .card-total{
          background: white;
          margin-left: -16px;
          margin-right: -16px;

          padding: 20px;
          border: 1px solid rgba(0,0,0,.1);

          margin-bottom: 15px;

          padding-left: 18px;

          h3{
            padding-top: 0px;
            margin-top: 0px;

            color: #e74c3c;
            font-weight: bold;
          }

          h4{
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
        }
      }
    }

    .buyTheseProducts{
      border-top: 1px solid #eee;
      padding-left: 0px;

      margin-bottom: 20px;

      h3.fi{
        color: $mainBlack;

        font-size: 1.4em;
        text-align: center;

        padding-bottom: 30px;
        padding-top: 30px;
      }
    }
  }

}

.productBox{

  .innerProductBox{
    border: 2px solid #F4F4F4;
    border-radius: 6px;

    .topProductBox{

      .innerProductImage{
        width: 100%;
      }
    }
    .bottomProductBox{

      .innerBottomProductBox{
        background: white;
        padding: 20px;
        text-align: left;
        border-top: 2px solid #F4F4F4;

        h3{
          font-size: 1.3em;
          font-weight: bold;

          a{
            color: #333;

            font-weight: bold;
            text-decoration: none;
          }
        }

        h4{
          font-size: 1.0em;
          color: #aaa;

          a{
            color: #aaa;
            font-weight: 400;
            text-decoration: none;
          }
        }

        p{
          color: #A4A4A4;
        }

        h5{
          font-size: 1.2em;
          font-weight: bold;
          margin-bottom: 0px;

          a{
            color: #333;
            font-weight: bold;
          }
        }

        a.btn-view{
          background: #000;
          color: white;
          padding: 5px;

          padding-right: 10px;
          padding-left: 10px;

          border-radius: 3px;

          text-decoration: none;
          float: right;

          margin-top: -30px;
        }
      }
    }
  }
}
